.catalogue {
    flex: 1;

    min-height: 100vh;
    margin: 15px;

    .tab-content {
        min-height: 80vh;
    }

    .catalogues-tabs {
        width: 100%;
    }

    .children-grid {
        margin: 1rem;
    }

    .product-card {
        background-color: whitesmoke;

        .product-actions {
            justify-content: center;
        }
    }
}